.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
 align-items: center;
 justify-content: center;
}

.head ul {
  list-style-type: none;
  color: #ffffff;
}

.nav  {
	list-style-type: none;
  display: inline;
	padding-right: 20px;
  text-align: center;
  display: flex;
 align-items: center;
 justify-content: center;
	}


.definition {
  text-align: center;
}

.foot {
  font-size: 80%;
  color: #271789;
}
