html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.reference {
  background-color: #f0f0f0;
  font-size: 75%;
  border-radius: 15px;
  padding: 10px;
}

.bot {
  padding-right: 10%;
}

.logo {
  pointer-events: none;
  text-align: center;
  /*overflow: hidden;*/
}

.insta {
  float: right;
  margin: 0px;
  padding: 0px;
}

.definition {
  p {
    color: red;
  }
}
