.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-style: bold;
  font-family: Public Sans Web,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-kerning: normal;
  margin: 1rem 0;
  color: #000000;
  padding: 0.3em;
  border-radius: 15px;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  background-color: #f0f0f0;
  padding: 0.3em;
  border-radius: 20px;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  background-color: #f0f0f0;
  padding: 0.3em;
  border-radius: 20px;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  background-color: #f0f0f0;
  padding: 0.3em;
  border-radius: 20px;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}
